namers:
- kind: io.l5d.fs
  rootDir: /etc/namerd/disco

storage:
  kind: io.l5d.inMemory
  namespaces:
    default: |
      /cluster   => /#/io.l5d.fs;
      /svc/db7400 => /cluster/mongo;
      /svc/db7401 => /cluster/rabbitmq;

interfaces:
- kind: io.l5d.httpController
  ip: 0.0.0.0
  port: 4180
